<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="Cake MyGet" value="https://www.myget.org/F/cake/api/v3/index.json" /> -->
    <add key="Wyam feed - local Nexus" value="http://127.0.0.1:8081/repository/Wyam" />
		<add key="Wyam2 build - local" value="d:\OSS\Wyam2\wyam\build\nuget" />
  </packageSources>
</configuration>